<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118087044551-cuduv0fdqtnrc7pf38a49n7l0i8i2u30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118087044551-cuduv0fdqtnrc7pf38a49n7l0i8i2u30</string>
	<key>API_KEY</key>
	<string>AIzaSyD2n_m0GyiDvl9Fd1BClKhmBMZW36z15NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>118087044551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travelBuddy</string>
	<key>PROJECT_ID</key>
	<string>my-travel-buddy-d0689</string>
	<key>STORAGE_BUCKET</key>
	<string>my-travel-buddy-d0689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118087044551:ios:b7080b3de1c49ad7df5de2</string>
</dict>
</plist>